[submodule "week-3-5/lib/solady"]
	path = week-3-5/lib/solady
	url = https://github.com/vectorized/solady
[submodule "week-3-5/lib/openzeppelin-contracts"]
	path = week-3-5/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
